/*Setear Bootstrap*/
body { background-color: #fff; }
html, body { height: 100%; }
ul { padding: 0; }
li { list-style: none; }
a[href] { 
	color: inherit;
	margin: 0;
	text-decoration: none;}
input[accept='.csv'] {display: none;}
.form-group.is-focused .form-control { 
    background-image: linear-gradient(#27A1B0, #27ABB0), linear-gradient(#D2D2D2, #D2D2D2); }
.breadcrumb {
    padding-top: 5.5rem;
    position: fixed;
    width: 100%;
    z-index: 1; }
.form-group input[type=file] { 
	opacity: initial;
	position: initial; }
.checkbox { 
	background-color: #ca5353;
    padding: 2rem;
    height: 9rem; }
    .checkbox label { color: white; }
label.col-md-11:hover { color: #F0ECEC; }
.checkbox .checkbox-material .check { border: 1px solid; }
.table-fluid { overflow: auto; }
.checkbox .checkbox-material:before { background-color: initial; }
.form-group.is-focused label.control-label { color: #27ABB0; }
.form-group.form-group-sm { margin: 0; }
.table>thead>tr>th:hover { 
	color: #6d6666;
	cursor: pointer; }
.nav-container { padding: 0rem 2rem; }
.navbar { 
	min-height: 0;
	padding: 0; }
.navbar .navbar-nav > li > a { padding: 1rem; }
#example_filter label { width: 100%; }
#example_filter label input[type="search"] { 
	border: none;
	border-bottom: 1px solid #ddd; 
	width: 100%; }
.custom-popover { box-shadow: 0 5px 10px rgba(0,0,0,.2); }
.popover { 
	display: block;
	max-width: 100%;
	position: initial;
	box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.14), 0 0px 5px rgba(0, 0, 0, 0.12), 0 0 0px rgba(0, 0, 0, 0.2); }
.custom-h2 { margin: 0; }
.custom-search { 
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #fff; }

/*Proyecto*/
.dashboard { padding-top: 11.5rem; }
.page-content { 
	min-height: 100%;
	position: relative;  }
.table tbody tr td { text-transform: uppercase; }
.table .especialidad { text-transform: uppercase; }
#example_wrapper div.row:nth-child(2) {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 1rem;
}
.table-container { padding: 2rem; }
.file-img {
	width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 35px 0;
    margin: 0 auto 10px;
    font-size: 5rem;
    text-align: center;
    color: #fff;
}
.file-img:after, .file-img:before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}
.file-img:after {
	border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}
.file-img:before {
	border-top: 20px solid #ccc;
    border-left: 20px solid transparent;
}
.file-img:hover { 
	background-color: #A22232;
	cursor: pointer; }
.fa.fa-upload { 
	position: relative;
	animation: miAnimacion 2s infinite;
	transition: all 700ms ease; }
.filename {
	color: #A22232;
	display: block;
	font-size: 3rem;
	text-align: center;
}
.fa.fa-barcode { font-size: 8rem; }
.search {
    background-color: #325b6b;
    height: 4rem; }
/*Panel*/
.name { padding: 2rem 0rem; }
.panel-body span { 
	color: #fff;
	font-size: 1.7rem; }
.panel-success { 
	background-color: #48b348;
	color: #fff; }
.title-success { margin: 0 0 1rem 0; }
i.fa-info-circle { 
	color: #fff;
	font-size: 3rem;
	vertical-align: middle;
}
.list-group-item span { 
	display: block;
	font-weight: bold;
	margin-bottom: 1rem; }
.btn-historial { 
	background-color: #fff;
	color: #333; }
.btn-historial:hover, .btn-historial:focus { 
	background-color: #F5F4F4;
	color: #333; }
.panel-selection { background-color: #9c9696; }

.data-table-header { padding: 2rem; }

/*Media Queries*/
@media (max-width: 991px) {
	.aside-nav { display: none; }
	main { padding: 0; }
}

/*Animation*/
@keyframes miAnimacion {
    0% { 
    	top: 0rem; }
    50% { 
		opacity: 0.2;
    	top: 1.1rem; }
    100% { 
    	top: 0; }
}

