/* color: #4E4E4E; */
/* Naranja => #FC7323 */
/* Azul => #238276 */
@font-face {
    font-family: 'zurich-bt';
    src: url('../fonts/zurich-bt-webfont.woff2') format('woff2'),
         url('../fonts/zurich-bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    color: #4e4e4e;
    font-size: 15px;
    font-family: 'zurich-bt';
    height: 100%;
    min-height: 100%;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
ul {
    padding-left: 1rem;
}
.form-group {
    position: relative;
}
.has-error .control-label,
.has-success .control-label {
    color: inherit;
}

.has-error .form-control:focus,
.has-success .form-control:focus,
.has-success .form-control,
.has-error .form-control,
.form-control { 
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #959595;
    border-radius: 0px;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}
.control-label {
    display: block;
    width: 100%;
}
.form-horizontal .control-label {
    text-align: left;    
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    /*height: 60px;*/
    background-color: #fc7323;
    border-top: 1px solid #ddd;
    color: #fff;
    font-size: 1rem;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*.nav > li > a {
    padding: 7px 12px;
}*/
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-inverse {
    background-color: #fff;
    border: none;
    padding: 0.4rem;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #fc7323;
    border-radius: 3px;
    color: #fff;
}
.navbar-nav.navbar-left.nav {
    width: 100%;
}
    .login-navbar {
        float: right !important;
    }
/*.dropdown:hover .dropdown-toggle:hover {
    background-color: #fc7323;
    border-radius: 3px;
    color: #fff;
}*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: inherit;
 }
.section {
    overflow: hidden;
    padding: 4rem 0;
    position: relative;
}
    .section div h1 {
        margin: 0 0 4rem;
    }
.title-white {
    color: #fff;
}

/* Focus-Border*/
.form-control.effect-1 ~ .focus-border{
    background-color: #fc7323;
    bottom: 0; 
    height: 1px; 
    left: 0; 
    position: absolute; 
    transition: 0.4s;
    width: 0; 
}
.form-control.effect-1:focus ~ .focus-border{
    transition: 0.5s;
    width: 100%; 
}

/* Hero */
.hero {
    background: linear-gradient(135deg, rgba(60, 118, 61, 0.66) 25%, rgba(255,255,255,0.2) 120%);
    height: 100vh;
}
.hero-img {
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}
.svg-hero {
    position: absolute;
    left: 0;
    top: 0;
}
.hero-content {
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: inherit;
    position: relative;
    /*z-index: 10;*/
}
    .hero-title {
        color: #fff;
        font-size: 4rem;
        margin-left: 4rem;
    }
    .hero-span {
        color: #fc7323;
    }

/* Project */
.project-info-section {
    background-color: #30A0AC;
    /*background: linear-gradient(180deg, #f7f7f7 0%, #fff 80%);*/
    overflow: hidden;
    position: relative;
}
    .project-logos {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }
    .card-project {
        background-color: #fff;
        box-shadow: 0 52px 65px 0 rgba(0, 0, 0, 0.28);
        padding: 0.5rem 2rem;

    }
    .card-project1, .card-project3 {
        background-color: #fff;
        width: 27rem;
    }
    .card-project1 {
        height: 16rem;
    }
    .card-project2 {
        margin-top: 7rem;
    }
     .card-project3 {
        height: 18rem;
        margin-top: 8rem;
     }
    .card-project1-border:hover {
        border-bottom: 1px solid #fc7323;
    }
    .card-project2-border:hover {
        border-bottom: 1px solid #fc7323;
    }
    .card-project3-border:hover {
        border-bottom: 1px solid #fc7323;
    }
    .card-project:hover {
        box-shadow: 0 52px 65px 0 rgba(0, 0, 0, 0.09);
    }
    /* Animation Plus */
    .plus-info-section {
        position: absolute;
        bottom: -8rem;
    }
    .plus-b {
        color: #fff;
    }
    
    .asset-informacion {
        position: absolute;
        right: 0;
        opacity: 0.5;
        bottom: 0;
        width: 60%;
    }
/* Programas de Formación */
.programas-formacion-section {
    background: linear-gradient(135deg, rgba(252,115,35,1) 0%, rgba(237, 187, 17, 0.73) 130%);
}
.card {
    background-color: #fff;
    height: 18rem;
    padding: 0.5rem 2rem;
}
    .card1 {
        border-left: 0.8rem solid #4bacc6;
    }
    .card2 {
        border-left: 0.8rem solid #60e146;
    }
    .card3 {
        border-left: 0.8rem solid #238276;
    }
    .plus-formacion-section {
        position: absolute;
        bottom: -8rem;
        right: 4rem;
    }

/* Noticias */
.header-card img {
    height: 15rem;
    object-fit: cover;
    transition: 4s;
}
    .header-card img:hover {
        object-fit: contain;
    }


/* Footer */
.footer ul > li {
    list-style: none;
}
    .footer-social-networks {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        color: #fff;
        padding: 0;
    }
    .footer-social-networks li a {
        color: #fff;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
.certificados ul {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content: space-around;
}


/* Contact */
.contact-wrap {
    height: 100vh;
}
.message-contact-section {
    background-color: #f2f2f2;
    height: 100%;
    padding-top: 2rem;
}
.message-contact-section div:first-child {
    padding: 0 4rem;
}
    .contact-title {
        border-left: 0.3rem solid #fc7323;
        font-size: 4rem;
        margin: 0;
        padding: 0 2rem;
    }
.contact-phones-section {
    background: url(../imgs/asset-img1.png) center no-repeat;
    background-position: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: rgba(255,255,255,0.6);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.contact-phones-section > div > p {
    margin: 0;
}
    .sena-link {
        color: #fff;
        font-size: 2rem;
        opacity: 0.5;
    }
    .sena-link > strong {
        color: #fc7323;
    }

/*.main-menu li {
    opacity: 0;
    position: relative;
}*/
.aniT {
    -webkit-animation: fadeIn .9s ease forwards;
    animation: fadeInLeft .9s ease forwards;
}
.overlay-background {
    background: #238276;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 30px;
    overflow: hidden;
    z-index: 1050;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
}
    .overlay-background.open {
        /* navigation visible at the end of the circle animation */
        height: 100%;
        opacity: 0.5;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: transform 0.5s;
        visibility: visible;
    }
.overlay-contact {
    background: #238276;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 30px;
    overflow: hidden;
    z-index: 1050;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
}
.overlay-contact.open {
    /* navigation visible at the end of the circle animation */
    height: 100%;
    opacity: 0.9;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: transform 0.5s;
    visibility: visible;
}
    li.delay {
        font-size: 2.5rem;
    }

    .overlay-contact.open .delay {
        -webkit-animation: fadeIn .9s ease forwards;
        animation: fadeInLeft .9s ease forwards;
    }
    .overlay-contact.open .ani0 {
        -webkit-animation-delay: .33s;
        animation-delay: .33s;
    }
    .overlay-contact.open .ani1 {
        -webkit-animation-delay: .40s;
        animation-delay: .40s;
    }
    .overlay-contact.open .ani2 {
        -webkit-animation-delay: .47s;
        animation-delay: .47s;
    }
    .overlay-contact.open .ani3 {
        -webkit-animation-delay: .54s;
        animation-delay: .54s;
    }
    .overlay-contact.open .ani4 {
        -webkit-animation-delay: .61s;
        animation-delay: .61s;
    }
    .overlay-contact.open .ani5 {
        -webkit-animation-delay: .68s;
        animation-delay: .68s;
    }
    .overlay-contact.open .ani6 {
        -webkit-animation-delay: .75s;
        animation-delay: .75s;
    }
    .overlay-contact.open .ani7 {
        -webkit-animation-delay: .82s;
        animation-delay: .82s;
    }
    .overlay-contact.open .ani8 {
        -webkit-animation-delay: .99s;
        animation-delay: .99s;
    }
    .delay {
        position: relative;
        opacity: 0;
    }
    .main-menu li {
        list-style: none;
    }
   .main-menu li ul {
        display: inline-block;        
        font-size: 1.2rem;
        font-weight: 500;
        /*text-align: right;*/
        left: 22rem;
        position: absolute;
        padding: 0;
        padding-left: -10px;
        opacity: 0;
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -ms-transition:all 0.3s linear;
    }
    .overlay-contact .main-menu li:hover ul {
        opacity: 1 !important;
        padding-left: 10px;
        -webkit-transition:all 0.3s linear;
        -moz-transition:all 0.3s linear;
        -ms-transition:all 0.3s linear;
    }  
    .overlay-contact .navbar-default {
        background-color: transparent;
        border: none;
    }
    .main-menu li > a {
        color: #fff;
    }
    .main-menu li {
        color: #fff;
        /*font-size: 2.5rem;*/
        padding: 2rem 0;
    }
    .main-menu > li > a:hover, .main-menu > li > a:focus {
        background-color: transparent;
    }
    .main-menu .open > a, .main-menu .open > a:hover, .main-menu .open > a:focus {
        background-color: transparent;
    }
    .main-menu .open > .dropdown-menu {
        background-color: transparent;
        /*position: relative;*/
        width: 100%;
    }
    .main-menu .open > .dropdown-menu li a {
        font-size: 1.4rem !important;        
    }
    

.trigger-menu,
.trigger-times {
    color: #fff;
    cursor: pointer;
    font-size: 2rem !important;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 999;
}


/*Tabla*/
table, td {
  color: #454545;
  border: 2px solid #FFBF9A;
  background-color: #fff;
}
.cell {
  background-color: #FEDCC8;
  color: #333;
}
thead tr:nth-child(1) th {
  padding: 4rem;
  border-bottom: 4px solid;
}
th { 
  background-color: #fc7323;
  color: #fff;
  padding: 0.4rem;
  font-weight: 500;
  text-align: center; }
td { padding: 1rem; }
td:hover {
  background-color: rgba(252,115,35,0.7);
  color: #fff;
  transform: scale(1.1);
}

/* Login effect */
.login {
  align-items: center;
  /*background-color: rgba(252, 115, 35, 0.5);*/
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
.cd-primary-nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1100;
}
.form {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.form header {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  height: 7rem;
}
.form form .form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.login-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login form {
  background-color: #fff;
  padding: 2rem;
  height: 30rem;
}

.login-button { 
  background-color: #238276;
  color: #fff;
  float: right;
  padding: 1rem 3rem;
}
.login-button:hover, .contact-button:hover { background-color: #187065; }

.cd-nav-trigger > a {
    background-color: #fc7323;
    border-radius: 3px;
    color: #fff !important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #F16310;
    color: #fff;
}